*{
    margin: 5px;
    padding: 5px;
}

body {
   background: #e6e6e6;
   font-size: x-large;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
}

.text-1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    justify-content: center;
    display: flex;
    margin: 0;
    padding-top: 130px;
    padding-right: 15px;
    text-align: justify;
}

.text-2 {
    font-size: 70px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 35px;
}

.container {
    position: relative;
    font-size: 12px;
    margin: auto;
}

.showSlider {
    display: none
}

.showSlider img {
    object-fit: cover;
    width: 94vw; 
    height: 85vh;
    position: relative;
    padding-right: 100px;
    margin: auto;
    object-fit: cover;
}

.left, .right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 25px;
    height: 30px;
    padding-top: 10px;
    padding-left: 18px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.right {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.left:hover, .right:hover {
    border-radius: 500px;
    background-color: #5597fa;
}

.active {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
    from {
    opacity: .4
    }
    to {
    opacity: 1
    }
    }
    @keyframes fade {
    from {
    opacity: .4
    }
    to {
    opacity: 1
    }
}

.img-1 {
    width: 38vw; 
    height: 95vh;
    float: right;
}

.second-page{
    padding-top: 100px;
    font-size: 45px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: rgb(0, 0, 0); 
    font-size: 18px;
    margin-left: 130px; 
    margin-right: 470px; 
    padding-top: 20px;
}

.nephews {
    width: 20vw;
    float: right;
    min-height: 40vh;
    padding-top: 50px;
}

.img-2 {
    width: 20vw;
    float: right;
    min-height: 40vh;
    object-fit: cover;
}
  
.ramjam p {
    float: right;
    margin:auto
}

.other-page{
    padding-top: 100px;
    font-size: 45px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
}

.photo {
    min-height: 20vh;
    width: 50vw;
}

.img4 {
   width: 38vw;
   height: 60vh;
   object-fit: cover;
}

.flex-container {
    display: flex;
}

.message > p {
    font-size: 17px;
    padding-top: 100px;
    float: right;
    margin:auto
}

.lvcc {
    width: 40vw;
    padding-top: 20px;
}

.messages {
    font-size: 17px;
}

.picture {
   width: 35vw;
   height: 60vh;
   object-fit: cover;
}

.sayings > p {
    font-size: 45px;
    float: right;
    margin:auto
}

.self > p {
    font-size: 17px;
    padding-top: 690px;
    float: right;
    margin:auto
}

.self-image {
    padding-top: 110px;
    object-fit: cover;
}

.pic {
    width: 55vh;
}

.sis {
    width: 80vw;
    height: 90vh;
    padding-top: 70px;
    font-size: 80px;
}

.sis-photo {
    padding-top: 50px;
    width: 50vw;
    float: right;
    height: 50vh;
    object-fit: cover;
}

.siss > p {
   font-size: 17px;
   margin:auto
}
